.mPhotos{
margin-top: 6rem;
margin-right: 40rem;
}

.PhotosBtn{
    margin-right: 3rem;
}

.PhotosSubmit{
    margin-left: 12rem;
}

.uploadedPhotos{
    margin-top: 1.5rem;
    margin-right: 19.5rem;
}