.BackgroundImage{
    position: absolute;
    width: 1513px;
    height: 481px;
    left: 0px;
    top: 287px;
    opacity: 0.2;
}

.Logo{
    position: absolute;
width: 80px;
height: 80px;
left: 42%;
top: 10px;
}

.tagline{
position: absolute;
width: 816px;
height: 42px;
left: 67px;
top: 217px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 42px;

color: #1F5CA5;
}

.login{
display:inline-block;
position: relative;
text-align: center;
width: 400px;
height: 450px;
margin-left: 65%;
margin-top: 12%;
background: rgba(78, 136, 204, 0.5);
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.loginBtn{
    margin-top: 7%;
    margin-left: 5%;
    position: relative;
    width: 116px;
    height: 40px;
    background: #1F5CA5;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    color: white;
}

.loginInput{
    width:60%;
    height: 30px;
    padding-top: 1%;
    margin-left: 25px;
    position: relative;
}


span {
    display:flex;
    gap: 10px;
    position:relative;
    max-width: 960px;
    margin-top: 15px;
    margin-left: 9.5%;
    color: #1F5CA5;
  }

.LoginLogo{
position: absolute;
width: 80px;
height: 90px;
left: 41%;
top: 10%;
background-blend-mode:lighten;
}

.username{
    margin-top:45%;
    margin-right:53%;
}

.password{
    margin-top:5%;
    margin-right:55%;
}