.Name{
  position: absolute;
  width: 400px;
  height: 102px;
  left: 1%;
  top: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 79px;
  color: #1F5CA5;
  }
  
  .App{
    text-align: center;
  }

  .Logo{
    position: absolute;
width: 80px;
height: 80px;
left: 1%;
top: 10px;
}
  
  
  